<div class="container">
  <logo></logo>
  <form class="form-signin" name="form" ng-submit="vm.login(form)" novalidate>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="text"
        id="inputEmail"
        name="email"
        class="form-control input-lg"
        placeholder="Email address"
        ng-model="vm.user.email"
        ng-change="vm.checkFields(form)"
        required autofocus>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        name="password"
        class="form-control input-lg"
        placeholder="Password"
        ng-model="vm.user.password"
        ng-change="vm.checkFields(form)"
        required>
        <span
          ng-show="vm.error"
          class="error text-danger">{{ vm.error}}
        </span>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      ng-disabled="!vm.allFieldsSet(form)">Sign in</button>
  </form>
</div>
