<div class="container">
  <logo></logo>
  <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.loginError" >
    <span type="button" class="close" ng-click="vm.hideAlert()" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </span>
    {{vm.loginError}}
  </div>

  <form class="form-signin" name="form" ng-submit="vm.login(form)" novalidate>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="text"
        id="inputEmail"
        name="email"
        class="form-control input-lg"
        placeholder="Email address"
        ng-model="vm.user.email"
        ng-change="vm.checkFields(form)"
        required autofocus>
    </div>
    <div class="form-group" ng-class="vm.error ? 'has-error' : ''">
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        name="password"
        class="form-control input-lg"
        placeholder="Password"
        ng-model="vm.user.password"
        ng-change="vm.checkFields(form)"
        required>
        <span
          ng-show="vm.error"
          class="text-danger">{{ vm.error}}
        </span>
    </div>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="submit"
      ng-disabled="!vm.allFieldsSet(form)">Sign in</button>
  </form>
</div>
