<header ng-class="$ctrl.bannerClass" id="banner">
  <div class="container">
    <h1><i ng-class="$ctrl.iconClass" ng-show="!!$ctrl.iconClass"></i></h1>
    <h2>{{$ctrl.header}}</h2>
    <p class="lead">{{$ctrl.subtitle}}</p>
  </div>
</header>
<div class="container">
  <form class="plateForm" ng-submit="$ctrl.checkPlate()">
    <div class="form-group">
      <label for="exampleInputEmail1">Plate Number</label>
      <input
        type="text"
        ng-model="$ctrl.plateToCheck.number"
        ng-change="$ctrl.plateToCheck.number = $ctrl.plateToCheck.number.toUpperCase()"
        class="form-control input-lg"
        id="plateNumber"
        maxlength="7" required>
    </div>
    <div class="form-group">
    	<label for="state">State</label>
      <select
        class="form-control input-lg"
        ng-model="$ctrl.plateToCheck.state"
        ng-options="state for state in $ctrl.states" required></select>
    </div>
    <div class="checkbox">
      <label>
        <input
          type="checkbox"
          ng-model="$ctrl.dontAddPlateToDB"> Do not add plate to registry.
      </label>
    </div>
    <div class="btn-group-justified">
      <div class="btn-group" role="group">
        <button
          type="submit"
          class="btn btn-lg col-lg-6 btn-primary">
            <i class="glyphicon glyphicon-search"></i> Check Plate</button>
      </div>
      <div class="btn-group" role="group">
        <button
          type="button"
          ng-click="$ctrl.resetVals()"
          class="btn btn-lg col-lg-6 btn-warning">
          <i class="glyphicon glyphicon-refresh"></i> Reset</button>
        </div>
      </div>
  </form>
</div>
